<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/auth.css" media="screen">
        <title>Log in</title>
    </head>
    <body>
        <div class="container">
            <h1 class="icon-tasker">Log In</h1>
            <p>Please log in to continue!</p>
            <form method="POST">
                <div><input type="text" name="Username" id="username" placeholder="Username"></div>
                <div><input type="password" name="Password" id="password" placeholder="Password"></div>
                <div><input type="submit" name="Submit" placeholder="icon-login" value="Submit"></div>
                <div><hr></div>
                <div class="small">No account? L <a href="/account/register">Sign my waver!</a></div>
            </form>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div><hr></div>
                {% for category, message in messages %}
                    {% if category == "error" %}
                        <div class="flash-err">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="flash-ok">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}

        </div>


    </body>
</html>
