body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    background-color: #f0f0f0;
}

/* LOGIN BOX */
.container {
    margin: auto;
    padding: 100px;
    border: 0px;
    border-radius: 10px;
    color: #61afef;
    background-color: #282c34;
}

/* INPUTS */
input {
    padding: 5px 0px 5px 10px;
    margin: 5px 0px 5px 0px;
    font-size: 1em;
    border-radius: 2px;
    border: 2px;
    background-color: #353b45;
    color: #61afef;
}

input[type='submit'] {
    padding: 5px 10px 5px 10px;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
    border: 0px;
    width: 1fr;
    display: inline-block;
    height: 2em;
}

input[type='submit']:hover {
    background-color: #3e4451;
    color: #82cfff;
    padding: 5px 10px 5px 10px;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
    border: 0px;
    width: 1fr;
    display: inline-block;
    height: 2em;
}

.container .flash-err {
    padding: 2px 5px 2px 5px;
    background-color: #282c34;
    color: #e06c75;
    font-weight: bold;
    border: 2px solid #e06c75;
    border-radius: 7px;
}

.container .flash-ok {
    padding: 2px 5px 2px 5px;
    background-color: #282c34;
    color: #98c379;
    font-weight: bold;
    border: 2px solid #98c379;
    border-radius: 7px;
}

/* MISC */
.small {
    font-size: small;
}

a:link {
    color: #61afef;
}
a:visited {
    color: #61afef;
}
a:hover {
    color: #82cfff;
}
a:active {
    color: #82cfff;
}
